<p id="notice"><%= notice %></p>

<h1>Products</h1>
<%= select_tag(:category, options_for_select(@categories)) %>

<div id="products_list">
  <%= render "products_list", products: @products %>
</div>


<br>

<%= link_to 'New Product', new_product_path %>

<script>
  $("#category").on("change", function(e){
    console.log($("#category").val());
    $.ajax({
      dataType: "script"                ,
      method: "GET"                     ,
      url: "products/filter_products"   ,
      data: {
        category_id: $("#category").val()
      }
    })
  });
</script>
